ul {
    list-style-type: none;
}

.message-list {
    border: 1px solid #000;
    border-radius: 4px;
    display: flex;
    width: 90%;
    margin-bottom: 10px;
    /* animation-name: updateMessage;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; */
}

.new-message{
    animation-name: newMessage;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

/* @keyframes updateMessage{
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
        transform: translateY(25px);
    }
} */

@keyframes newMessage{
    0% {
        opacity: 0.2;
    }
    25% {
        border: 1px solid #f00;
    }
    50% {
        border: 1px solid #000;
        transform: translateY(5px);
    }
    75% {
        border: 1px solid #f00;
    }
    100% {
        border: 1px solid #000;
        opacity: 1;

    }
}

.delete-form {
    /* text-align: right; */
    display: inline-block;
}

.delete-btn {
    display: inline-block;
    position: relative;
}

.user {
    border: 2px solid #111;
    /* display: inline-block; */
    padding: 4px;
    width: 5%;
    /* position: relative; */
}

button {
    cursor: pointer;
}

.editArea {
    border: none;
    outline: none;
    /* display: inline-block; */
    width: 50%;

    /* width: 82%; */
    /* height: 5%; */
    /* top: 130px; */
    /* right: 200px; */
    /* position: absolute; */
}
