ul {
    list-style-type: none;
}

.chat-header {
    position: fixed;
    background-color: #777;
    z-index: 99;
    width: 100%;
    margin-top: -20px;
    margin-left: -8px;
    border-bottom: 2px solid #000;
}

.channelName {
    border-bottom: 5px solid #00f;
}

.logout {
    position: absolute;
    top: 15px;
    right: 1%;
}

.channelTabss {
    display: flex;
}

.channelTabs {
    position: relative;
    display: flex;
    width: 25%;
    box-sizing: border-box;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    background-color: #fff;
    box-sizing: border-box;
}

.channelTabs:hover {
    background-color: #f91;
    cursor: pointer;
    transition: background-color 0.5s;
}

.channelTab {
    padding-right: 100%;
    box-sizing: border-box;
}

#chat-main {
    padding-top: 250px;
    z-index: 1;
    padding-bottom: 80px;
    box-sizing: border-box;
}

.time-label {
    display: flex;
}

.created {
    margin: 30px 0 -40px 0;
    font-weight: bold;
    margin-right: 20px;
}

.message-list {
    border: 1px solid #000;
    border-radius: 4px;
    display: flex;
    width: 90%;
    margin-top: 40px;
    position: relative;
}

.new-message{
    animation-name: newMessage;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes newMessage{
    0% {
        opacity: 0.2;
    }
    25% {
        border: 1px solid #f00;
    }
    50% {
        border: 1px solid #000;
        transform: translateY(5px);
    }
    75% {
        border: 1px solid #f00;
    }
    100% {
        border: 1px solid #000;
        opacity: 1;

    }
}

.delete-own {
    position: absolute;
    top: 100px;
    right: 1%;
}

.delete-form {
    /* text-align: right; */
    display: inline-block;
    position: absolute;
    top: 20px;
    right: -205px;
    width: 200px;
}

.delete-channel {
    display: inline-block;
    position: absolute;
    top: -0.1px;
    left: 95%;
}

.iconFrame {
    border: 2px solid #111;
    padding: 4px;
    width: 4%;
    height: 65px;
    font-size: 25px;
    text-align: center;
}

.icon {
    height: 65px;
}

.userName {
    position: absolute;
    top: 80px;
    left: 10px;
    margin-left: 10px;
    font-size: large;
}

#postBody {
    font-size: 40px;
    padding: -10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 65px;
    white-space: pre-wrap; /*改行表示*/
    flex: 1;
}

#postBody2 {
    font-size: 40px;
    padding: -10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 65px;
    white-space: pre-wrap; /*改行表示*/
    color: #fff;
}

button {
    cursor: pointer;
}

.edit {
    position: absolute;
    top: -25px;
    right: 15px;
}

.message-list button {
    top: -30px;
    right: 10px;
}

#editArea {
    border: none;
    outline: none;
    resize: none;
    display: inline-block;
    position: absolute;
    width: 95%;
    box-sizing: border-box;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    left: 80px;
}

.submitForm {
    width: 80%;
    height: 40px;
    font-size: 30px;
}

.chat-footer {
    position: absolute;
    position: fixed;
    bottom: 0;
    background-color: #777;
    z-index: 99;
    width: 100%;
    border-bottom: 2px solid #000;
}

.popup {
    width: 300px;
    padding: 10px 20px;
    background: #fff;
    font-size: 20px;
    border-radius: 4px;
    box-shadow: 12px 12px 4px rgba(0, 0, 0, .5);
    position: fixed;
    left: calc(50% - 150px);
    top: -20px;

    animation: popup 4s forwards;
  }

  @keyframes popup {
    0% {
      transform: translateY(-15px);
      opacity: 0;
      animation-timing-function: ease-out;
    }
    20%, 80% {
      transform: none;
      opacity: 1;
    }
    100% {
      transform: translateY(-15px);
      opacity: 0;
      pointer-events: none;
    }
  }

  @media (max-width: 1000px) {
    .message-list {
        width: 90vw;
        margin: 40px auto 0 -25px;
    }

    .submitForm {
        width: 80%;
        height: 80px;
        font-size: 30px;
    }

    .submitForm-btn {
        padding: 10px;
        align-self: center;
        height: 80%;
    }

    .footerForm  {
        display: flex;
    }

    .chat-footer {
        height: 100px;
    }
  }

  @media (max-width: 600px) {
    .message-list {
        width: 110vw;
    }

    .time-label {
        margin-left: -20px;
    }

    .chat-footer {
        width: 85%;
    }
  }
